@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,800');

/*Estilo General*/

    small {
    background: #101010;
    color: #FFFFFF;
    display: inline-block;
    font: 800 11px/24px "Open Sans";
    letter-spacing: 0.4px;
    padding: 0 8px;
    text-transform: uppercase;
}

.shadow-separator {
    height: 20px;
    margin: 40px auto;
    overflow: hidden;
    width: 400px;
}
.shadow-separator:after {
    border-radius: 100%;
    box-shadow: 0 0 10px #333333;
    content: "";
    display: block;
    height: inherit;
    position: relative;
    top: 100%;
}

.separador
{
    background-color:lightgray;
    width:90%;
    margin:0 auto;
    margin-top:3%;
    margin-bottom:2%
}

#contenedor
{
    background-color: #F0F0F0  ;
}

.thumbnail
{
    background-color: #E0E0E0  !important;
    border-color: transparent !important;
    border-radius: 15px !important;
}

.mdl-layout__container
{
    position:relative !important;
}

.mdl-mini-footer
{
    height:100%;
}
/*FIN Estilo General FIN*/

/*Estilo Cabecera*/

#titEventos
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #b92c28;
}

#logo
{
    margin-top:0.5%;
}

#logo img
{
    width:50%;
}

#cabecera
{
    width:100%;
    height: 100%;
}

#titulo
{
    text-align: center;
}
#menu
{
    width:100%;
    background-color:#f5e79e;
    float: left;
}
.itemMenu
{
    transition: all 0.5s ease;
}

.itemMenu:hover
{
    color:#b92c28 !important;
    font-weight: bold !important;
}
/*FIN Estilo Cabecera FIN*/

/*Estilo Portada*/
#portada
{
    width:100%;
}

#imagenPortada
{
    width:100%;
    opacity: 0.5;
}
/*FIN Estilo Portada FIN*/

/*Estilo Destacados*/
#destacados
{
    width:100%;
}
#destacados p
{
    margin: 0 0 10px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 10em;
    line-height: 1.8em;
}

.tituloEvento
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border-bottom: 1px double #C0C0C0  ;
    width:70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

.separadorPeq
{
    width:20%;
    margin:0 auto;
    backkground-color:#F0F0F0;
}

/*FIN Estilo Destacados FIN*/

/*Estilo Pie*/
#pie
{
    width:100%;
    height:15%;
}
/*FIN Estilo Pie FIN*/
